// Import
@import "public/assets/scssVariables/variables";

// Templates
%slider_circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
}

// Style
.home_slider_div {
  width: 100%;
  background-color: $slider_poster;
  padding: 55px 0;
  margin: 0 auto;
  overflow: hidden;

  .home_show_slider {
    white-space: nowrap;
    transition: all 0.6s ease-in-out;

    .slider {
      min-width: 100%;
      overflow: hidden;

      .slider-item {
        flex: 0 0 100%;
        transition: all 0.5s ease-in-out;
        opacity: 0;
        height: 0;

        .slider_show_flex {
          display: flex;

          .slider_left_part {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
          }

          .slider_right_part {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 50%;

            .slider_right_part_title {
              color: #323334;
              font-family: Roboto, sans-serif;
              font-size: 22px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }

            .slider_right_part_text {
              color: #A86A3D;
              text-align: center;
              font-family: Roboto, sans-serif;
              font-size: 48px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              padding: 25px 0 40px 0;
            }

            .slider_right_part_view_btn {
              width: 124px;
              height: 50px;
              border: 1px solid $page_color;
              background: $button;
              box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
              color: $page_color;
              text-align: center;
              font-family: Roboto, sans-serif;
              font-size: 15px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: 0.45px;
            }
          }

        }
      }

      .slider-item.active {
        opacity: 1;
        height: auto;
        transform: translateX(0%);
        min-width: 100%;
      }

      .slider-item.active ~ .slider-item {
        transform: translateX(100%);
      }

    }

    .slider_circle_div_flex {
      display: flex;
      justify-content: center;

      .slider_circle_div {
        display: flex;
        gap: 8px;
        transform: translate(50%, 0%);

        .slider_circle {
          @extend %slider_circle;
          background-color: #C4C4C4;
        }

        .slider_circle_active {
          @extend %slider_circle;
          background-color: #0A032A;
        }
      }
    }

  }

}