.top_rating_main_div{
  padding: 40px;
  .top_rating_main_title{
    color: #323334;
    font-family: Roboto, sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}