.categories_products_article {

  .store_category_products_div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 45px;

    .categories_products_title {

    }

    .categories_title_products_div {

      .categories_title_div_column {
        display: flex;
        flex-direction: column;

        .categories_products_title_div {
          padding: 50px 0;
        }

        .store_filter_div_flex {
          display: flex;
          justify-content: flex-start;
          padding: 16px 0;

          .store_filter_div {
            display: flex;
            justify-content: center;
            gap: 8px;
          }
        }
      }


      .filtered_products_flex {
        display: flex;

        .link_to_product {
            text-decoration: none;

          .filtered_products {

            .categopy_product_image {
              width: 305px;
              height: 370px;
              padding-bottom: 20px;
            }

            .average_rating {
              position: relative;
              appearance: none;
              color: transparent;
              width: auto;
              display: block;
              vertical-align: baseline;
              font-size: 25px;
              margin: 12px 0;
              //background-clip: text;
              //-webkit-background-clip: text;
              //-webkit-text-fill-color: transparent;
            }

            .average_rating_span {
              position: absolute;
              top: 0;
              left: 0;
              color: rgba(0, 0, 0, 0.2);
              //background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            .category_product_name {
              color: #323334;
              font-family: Roboto, sans-serif;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }

            .category_product_price {
              color: #323334;
              font-family: Roboto, sans-serif;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              padding-bottom: 20px;
            }
          }
        }
      }
    }
  }

}