.categories_products_article {
  .categories_products_title_div {
    padding: 50px 0;

    .categories_products_title {

    }
  }

  .store_filter_div {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .store_category_products_div {
    display: flex;
    justify-content: center;
    gap: 24px;

    .filtered_products {


      .categopy_product_image {
        width: 305px;
        height: 370px;
        padding-bottom: 20px;
      }

      .average_rating {
        position: relative;
        appearance: none;
        color: transparent;
        width: auto;
        display: block;
        vertical-align: baseline;
        font-size: 25px;
        margin: 12px 0;
      }

      .average_rating_span {
        position: absolute;
        top: 0;
        left: 0;
        color: rgba(0, 0, 0, 0.2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .category_product_name {
        color: #323334;
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .category_product_price {
        color: #323334;
        font-family: Roboto, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 20px;
      }
    }

  }


}