// Import
@import '/public/assets/scssVariables/variables';

// Style
.bedsheet_div {
  //width: 100%;
  //height: 100%;
  background-size: cover;
  background: url("../../../public/assets/images/home/bedsheet.png"), no-repeat, center;
  padding: 150px;

  .bedsheet_poster_div {
    background-color: rgba($slider_poster, 0.80);
    padding: 60px 100px 60px 130px;
    width: fit-content;

    .bedsheet_elems {
      .bedsheet_title {

      }

      .bedsheet_price {
        display: flex;

        .bedsheet_new_price {

        }

        .bedsheet_old_price {

        }
      }

      .bedsheet_description {

      }

      .bedsheet_view_details_btn {

      }
    }
  }
}
