// Style

.product_static_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 40px;

  .product_static_div_left_part {
    display: flex;
    align-items: center;
    width: 50%;

    .product_static_text {
      color: #323334;
      font-family: Roboto, sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .product_static_div_right_part {
    display: flex;
    align-items: center;
    width: 50%;
    background-image: url('../../../../public/assets/images/home/plate.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .product_static_text {
      color: #323334;
      font-family: Roboto, sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}

.article_div_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

  .topProduct_div_flex {
    display: flex;
    justify-content: center;
    align-items: center;

    .topProduct_div {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 16px;

      .product_div {
        cursor: pointer;

        .product_category_link {
          text-decoration: none;

          .product_category_image {
            width: 310px;
            height: 420px;
          }

          .product_category_name {
            color: #323334;
            font-family: Roboto, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 35px 0;
          }
        }
      }
    }

  }
}